html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.weather-image {
  max-width: 100%;
  height: auto;
  max-height: 100px; /* Pas deze waarde aan naar wens */
}

.card {
  border: solid;
  border-color: rgb(247, 247, 139);
  background-color: rgb(234, 235, 220);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}


.weather-style {
  border: solid;
  border-color: rgb(247, 247, 139);
  margin-bottom: 2%;
  background-color: rgb(234, 235, 220);
}

.Weer-agrond {
  background-color: #51a3fae1;
  border: solid;
  border-color: rgb(255, 255, 255);
}

footer {
    background-color: #eaebdc;
    text-decoration: none;
}